<h1><%= name %>Announcement</h1>
<%= form_for(@announcement) do |f| %>
  <% @announcement.errors.full_messages.each do |message| %>
    <div class = "be-redv white">
      * <%= message %>
    </div>
  <%end %>
  <div class = "field">
    <%= f.text_field :title, placeholder: "Ttile", class:"form-control" %>
  </div>
  <div class = "field">
    <%= f.text_area :body, placeholder: "Body of the announcement" , style:"height:250px;", class:"form-control" %>
  </div>
  <div class = "field">
    <%= f.submit "Guardar", class:"btn" %>
  </div>
<%end %>
<div class="field">
  <%= link_to "Regresar", index_path,class:"btn" %>
</div>